<div class="sidebar">

  <div class="sidebar-brand">
    <div class="brand-flex">
      <img src="../../static/img/akzoblanco.png" width="160px" alt="">
      <div class="brand-icons">
        <span class="las la-bell"></span>
        <span class="las la-user-circle"></span>
      </div>
    </div>
  </div>
  <div class="sidebar-main">
    <div class="sidebar-user">
      <img src="../../static/img/imagenpersona2.jpg" alt="">
      <div>
        <h3 style="margin: 0;padding: 0;">Kevin Valencia Zuleta</h3>
        <span style="font-size: 13px;">kevinvalencia3071029@gmail.com</span>
      </div>
    </div>
    <div class="sidebar-menu">
      <div class="menu-head">
        <span>Dashboard</span>
      </div>
      <ul>
        <li>
          <a href="">
            <span class="las la-balance-scale"></span>
            Financial
          </a>
        </li>
        <li>
          <a href="">
            <span class="las la-chart-pie"></span>
            Analytics
          </a>
        </li>  
      </ul>
      <div class="menu-head">
        <span>Applications</span>
      </div>
      <ul>
        <li>
          <a href="">
            <span class="las la-calendar"></span>
            Calendar
          </a>
        </li>
        <li>
          <a href="">
            <span class="las la-users"></span>
            Contacts
          </a>
        </li>  
        <li>
          <a href="">
            <span class="las la-shopping-cart"></span>
            Trade
          </a>
        </li>
        <li>
          <a href="">
            <span class="las la-envelope"></span>
            Mailbox
          </a>
        </li> 
        <li>
          <a href="">
            <span class="las la-check-circle"></span>
            Tasks
          </a>
        </li>  
      </ul>
    </div>
  </div>
</div>

