.azulandercol{
    background-color: #154689;
}
.azul2{
    background-color:  #1875ee;
}
.bannersura{
    
    background-image: url('../img/banner9.jpeg');
    background-position: top center;
    background-size: cover;
    padding: 50%;
    background-attachment: fixed;
}
